<!DOCTYPE html>
<html>
 	<head>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel='stylesheet' href='/stylesheets/materialize.css' />
	</head>

	<body>
		<h1> Create a new timer room </h1>
		<form method="post">
			<div class="row">
				<div class="col s12">
					<div class="input-field">
						<p> Room Name </p>
						<input type="text" name="roomName" placeholder="CIS320 Final Exam" class="validate" id="room-name" required>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12">
					<div class="input-field">
						<p> Password </p>
						<input type="password" name="password" placeholder="optional" id="room-password">
					</div>
				</div>
			</div>
			
			<button type="submit" class="waves-effect btn"> Submit <i class="material-icons right" class="validate">send</i></button>
		</form>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
		<script type="text/javascript" src="js/materialize.min.js"></script>
	</body>
</html>