<!DOCTYPE html>
<html>
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
  </head>
  <body>
    <p> Your timer room <%= roomName %> has been created!</p>
    
    <p><a href="/" class="waves-effect btn"> Return to homepage </a></p>

    
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
    <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>

