<link rel="stylesheet" type="text/css" hrep = "/stylesheets/style.css" />

<h1> Create a new timer room </h1>
<form method="post" accept-charset="utf-8">
	<p> Room Name <br>
	<input type="text" name="roomName" placeholder="CIS320 Final Exam"></p>
	<p> Password <br>
	<input type="text" name="password" placeholder="optional"></p>
	<p><input type="submit"></p>
</form>