<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> Please select the timer room you would like to join <p>
    
    <p><a href="/rooms/new"> Create a new Timer Room </a></p>

    <!-- insert all the created rooms here -->
    <div id="rooms-wrapper">
      <h2> Avaiable Timer Rooms </h2>
      <!-- the actual unordered list where we'll be storing the rooms -->
      <ul id="rooms">
        <li><p><a href="/timerplus"> Room1 </a></p></li>
        <li><p><a href="/room2"> Room2 </a></p></li>
      </ul>
    </div>

  </body>
</html>
