<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %> timer and announcements room </p>
    
	
	<!-- This is where we append the messages -->
	<div id="msg-wrapper">
		<ul id="messages"><ul>
	</div>


	
	<!-- Form to make announcement -->
	<form id="message-form">
		<textarea id="message-box" placeholder="Write your announcement here" required /> </textarea>
	</form>
	<button id="submit-button"> Make Announcement </button>
	<button id="delete-last-button"> Delete Previous Announcement </button>


  </body>
</html>
