<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/materialize.css' />

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %> timer and announcements room </p>
    
	
	<!-- This is where we append the messages -->
	<div id="msg-wrapper">
		<ul id="messages" class="collection">
			<li class="collection-item"> Question 1 should be omitted</li>
		<ul>
	</div>


	
	<!-- Form to make announcement -->
	<form id="message-form">
		<textarea id="message-box" placeholder="Write your announcement here" required class="materialize-textarea" /> </textarea>
	</form>
	<button id="submit-button" class="waves-effect btn"> Make Announcement </button>
	<button id="delete-last-button" class="waves-red btn"> Delete Previous Announcement </button>


  </body>
</html>
